.middle_text{
    text-align: right;
    margin-top:5px;
    
}
    .middle_text h1{
    font-size:30px;
    margin-right: 30px;

}
    .middle_text p{
    text-align: left;
    color:white;
    width:45%;
    line-height: 25px;
    display:inline-block;
    margin-right: 20px;
}
    .middle_text p a{
    color:white;}

.pic {
    float:left;
    } 